@font-face {
    font-family: "bebas";
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "saira";
    src: url(fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf) format("truetype");
}

body {
    background-image: url(img/littleSeoulNightBg.png);
    background-size: cover;
}

* {
    margin: 0;
    scrollbar-color: rgb(60, 0, 255) rgb(0, 0, 0);
    scrollbar-width: thin;
}

/*Header*/

.nameLogoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
    height: 120px;
}

.logo{
    width: 200px;
    filter: drop-shadow(0px 0px 10px rgb(225, 0, 255));
}

h1 {
    font-family: bebas;
    font-size: 50px;
    color: aliceblue;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding-right: 50px;
}

li {
    color: white;
    font-size: 25px;
    font-family: bebas;
}

a {
    list-style: none;
    color: aliceblue;
    text-decoration: none;
}
li :hover{
    color: rgb(212, 0, 255);
}

/*Main*/

.sectionInitial{
    margin-bottom: 200px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lema {
    font-family: bebas;
    color: white;
    font-size: 80px;
    width: 900px;
    margin: 200px;
    margin-left: 100px;
}

.bmwGta {
    filter: drop-shadow(0px 0px 20px rgba(225, 0, 255, 0.361));
    margin-right: 100px;
}

.races {
    color: white;
}

.carreras{
    color: white;
}

.racing {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.raceIn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "class name time access track"
    "class ubication time access track";
}

.classType {
    grid-area: class;
}

.raceName {
    grid-area: name;
}

.locate {
    grid-area: ubication;
}

.time {
    grid-area: time;
}

.access {
    grid-area: access;
}

.trackImg{
    grid-area: track;
    width: 300px;
}